<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>—</title>
  <link rel="stylesheet" href="/styles/default.css" />
  <script src="/scripts/main.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>
